.login {
    height: 350px;
    width: 500px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 500px;
    background-color: rgb(100, 77, 232);
    border-radius: 0.3cm;
    color: white;
}

.login label {
    text-align: center;
    font-size: 20px;
}

.login input {
    text-align: center;
    font-size: 18px;
    border-radius: 0.3cm;
    width: 350px;
    height: 40px;
}

button {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 0.4cm;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
}

.login h3 {
    padding: 20px;
    text-align: center;
}